[{:season-url "/s1/"
  :prefixes {:url "e" :disqus "" :github "parens-of-the-dead"}
  :enable-disqus? true
  :old? true
  :episodes [{:number "1" :youtube "aWJPlRVZX90" :date "2015-08-18" :name "Lying in the Ground" :description "Starting with an empty folder, we'll lay the technical groundwork for our game. We'll get a Clojure web server up and running, compiling and sending ClojureScript to the browser."}
             {:number "2" :youtube "zIajwJDi4wY" :date "2015-08-18" :name "Frontal Assault" :description "In this one, we create most of the front-end code. We take a look at the data structure that describes the game, using that to build up our UI."}
             {:number "3" :youtube "7Q4-BYOQZXg" :date "2015-08-21" :name "What Lies Beneath" :description "The player has only one action available; revealing a tile. We'll start implementing the central `reveal-tile` function on the backend, writing tests along the way."}
             {:number "4" :youtube "Z6CHO6PI2BY" :date "2015-08-28" :name "Waking the Dead" :description "Matching a pair of certain tiles, like zombies and fog, has adverse effects. We continue working on the core game logic."}
             {:number "5" :youtube "VtzcESnMZDo" :date "2015-09-03" :name "Re-animated" :description "We've created the UI rendering code, and we've made some progress on the backend game logic. It's time to wake up the beast, connecting the client and the server through web sockets."}
             {:number "6" :youtube "j8oOw56ZGEw" :date "2015-09-11" :name "Quickly, hide!" :description "We can now reveal tiles, but they're never turned back. We'll have to keep track of time somehow, so the player gets a chance to see the tiles before they're concealed again."}
             {:number "7" :youtube "wVYglsyRnKI" :date "2015-10-12" :name "Eaten by Zombies" :description "It's time to die. Last episode we introduced tick to turn back tiles. But that is only a secondary feature of the tick function. The main function is counting down till your brain is devoured by ravenous zombies. So there."}
             {:number "8" :youtube "DHpk_-1H7Qo" :date "2015-11-15" :name "The Hour of Reckoning" :description "We're trying to make it out alive in this last episode. Revealing all five houses takes us where? To safety? Let's hope so."}]}
 {:season-url "/s2/"
  :prefixes {:url "s2e" :github "parens-of-the-dead-s2"}
  :episodes [{:number "1"  :youtube "6qnNtVdf08Q" :date "2022-10-01" :name "It Lives Again" :description "Starting with an empty folder sure is a choice. Much like digging your way out of a grave, it can be intimidating, perhaps because it's not something you do every day. Watch us struggle with these issues and more in the very first episode of Parens of the Dead."}
             {:number "2"  :youtube "CyveUnHzc7g" :date "2022-10-01" :name "Shambling Along" :description "Watch us totally ruin a pristine, beautiful lightly tinted purple page by adding decrepit buildings to it in this very second episode of Parens of the Dead. We'll get ClojureScript up and running with surprisingly little hassle. There might even be jokes."}
             {:number "3"  :youtube "_6tVIijfRzQ" :date "2022-10-07" :name "Stumbling out of the Graveyard" :description "Someone eated our brains! In this very third episode, we're struggling to get more wiring wired properly while also typing with our fingers on the keyboard. It's a hard life, being a zombie developer. Web socket setup surely is no joke."}
             {:number "4"  :youtube "w0a1aLrOO7c" :date "2022-10-07" :name "Braaains!" :description "Are the tests red, green, or both? Find out as we tackle the final pieces of the wiring, and inch towards something that might even resemble business logic. The future is looking bright, what with brains to chew on."}
             {:number "5"  :youtube "sDsDBUgQ6fQ" :date "2022-10-14" :name "Internal Organs" :description "Well, hearts at least. If we are to fight back the zombie horde, they're going to need some hit points. In this episode we get to do some good old-fashioned test driven pair programming. It's almost nice enough to forget that episode title. "}
             {:number "6"  :youtube "tfh5QHULLUc" :date "2022-10-23" :name "" :title "666: Episode of the Beast" :description "There's little chance this game will take 666 episodes to make, so we're celebrating early. In this very sixth episode we're continuing to build the UI, while also making time for a much needed safety net for ourselves."}
             {:number "7"  :youtube "wg9jrQ4KH4Y" :date "2022-10-28" :name "Iacta alea est" :description "Literal use of a figurative statement is already a horror show, but when you take into account that the dice are in fact not even cast in this episode, then the title becomes horrific enough to fit the theme. At least that's what I keep telling myself."}
             {:number "8"  :youtube "uPPYp9LPTsU" :date "2022-11-04" :name "The Rolling Chaos" :description "I once heard about a professor who would avoid stirring his tea too vigorously, to avoid needlessly increasing the entropy of the universe. In this very eight episode, we throw caution to the wind and roll dice with abandon."}
             {:number "9"  :youtube "ss6dHPegRKE" :date "2022-11-17" :name "The Abomination" :description "Going through these videoes for publication can be a mentally taxing exercise. One thing is having to listen to my own recorded voice, but another is watching us mash together aesthetically displeasing code, all the while laughing and having fun. What monsters."}
             {:number "10" :youtube "AjrX9C4B3IM" :date "2022-11-25" :name "Wired together" :description "Much like in The Human Centipede, we're experimenting with wiring stuff together in this very tenth episode. The victims? Our client and server, poor things. Avert your eyes as we tackle such horrors as event handling and messages going over web sockets."}
             {:number "11" :youtube "ImrJRO3AqTo" :date "2022-12-02" :name "Symptoms of the Apocalypse" :description "In this very eleventh episode, we establish two major factors of life after the zombie apocalypse. You know the world is a harsh and unforgiving place when microphone stands tip over without warning in the middle of a recording, and rerolls ... don't. Do you even roll, bro? No."}
             {:number "12" :youtube "3d6R7xPy7XY" :date "2022-12-09" :name "" :title "Erpisode 12: A peaceful moment" :description "It's episode 12 and everything seems oddly ... peaceful. Our pair of intrepid programmers seem to have hit their stride, and are working on features in good spirits. Having seen horror movies before, you already know what's going to happen next. Some damn cat is waiting around the next corner, ready for its jump scare. It's what comes after, that really scares you."}]}]

