.header {padding: 30px 0 130px;}

.green .header {background: #7abe7a url(/img/header-bg.svg) repeat-x;}
.red .header {background: #cc575b url(/img/header-bg.svg) repeat-x;}
.blue .header {background: #59bcbf url(/img/header-bg.svg) repeat-x;}
