body {background: #1f1f1f; color: #fff; line-height: 1.3; font-size: 14px; font-family: Arial, sans; }

.header {padding: 20px 0 20%; text-align: center;}

.illustration {background: #cc575b url(/img/codezombie.png) no-repeat center bottom; padding-bottom: 35%; background-size: 120%;}

.green .header {background: #7abe7a url(/img/header-bg.svg) repeat-x; background-size: 230%;}
.green a {color: #7abe7a;}
.green .episode {background: #7abe7a url(/img/citybg.svg) no-repeat center bottom; background-size: 2000px;}

.red .header {background: #cc575b url(/img/header-bg.svg) repeat-x; background-size: 230%;}
.red a {color: #cc575b;}
.red .episode {background: #cc575b url(/img/citybg.svg) no-repeat center bottom; background-size: 2000px;}

.blue .header {background: #59bcbf url(/img/header-bg.svg) repeat-x; background-size: 230%;}
.blue a {color: #59bcbf;}
.blue .episode {background: #59bcbf url(/img/citybg.svg) no-repeat center bottom; background-size: 2000px;}

.episode {padding-bottom: 90px;}

.header img {max-width: 100%;}
.header p {font-size: 13px;}

.pad {padding: 0 10px;}
.content {max-width: 800px; margin: 0 auto; padding: 0 10px;}
.comments {margin-top: 50px;}

ul {list-style: disc;}
li {margin-left: 15px; margin-bottom: 2px;}

.box {display: block; background: #000; padding: 15px 20px 30px; margin-top: 20px;}

a.box {text-decoration: none; color: #1f1f1f;}

.episode-box {color: #1f1f1f; opacity: 0.97;}
.episode-box.green {background: #7abe7a;}
.episode-box.blue {background: #59bcbf;}
.episode-box.red {background: #cc575b;}

a.episode-box:hover {opacity: 1;}

.next {margin: 40px 0 0; text-align: center;}
.footer {max-width: 800px; padding: 0 10px; margin: 150px auto 50px; color: #999; font-size: 13px; text-align: center;}

.video-embed { background: #000; position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.video-embed iframe,
.video-embed object,
.video-embed embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

h2,
h3 {margin-bottom: 3px; font-family: "HelveticaNeue-CondensedBlack", "HelveticaNeueBlackCondensed", "HelveticaNeue-Black-Condensed", "Helvetica Neue Black Condensed", "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "Impact", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBlack', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;}

h2 {font-size: 25px;}
h3 {font-size: 20px;}
